<% title "New fortune" %>
<%= render :partial => 'form' %>
<p class="clear"><%= link_to 'Back', fortunes_path %></p>


<!-- <%= simple_form_for @fortune do |f| %>
  <%= f.input :source, :input_html => {:size => 40}, :required => false %>
  <%= f.input :quotation, :input_html => {:rows => 4, :cols => 40} %>
  <%= f.button :submit %>

<% end %>
-->
